* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	display: inline-block;
}

/* common style */
.clear {
	clear: both;
}

.wrap {
	margin: 0 auto;
	min-height: 600px;
	background: #E9E9E9;
	overflow: hidden;
}

.say-wrap {
	font-size: 0;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
	margin-bottom: 25px;
}
.say-zone {
	width: 88%;
	padding-top: 5px;

}
.ui.form {
	font-size: 0;
}
.say-zone:focus {
	border: none;
	outline: none;
}
.send {
	display: inline-block;
	height: 80px;
	width: 10%;
	max-width: 200px;
	padding: 0;
	font-size: 18px;
	background: #BFBFBF;
	box-sizing: border-box;
	vertical-align: top;
	border: none;
	position: fixed;
	top: 0;
	right: 0;
}

/**
 *****登录弹窗*****
 */
.login-btn {
	position: fixed;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-style: 14px;
	z-index: 1000;
	border-radius: 50%;
	left: 0;
	top: 200px;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	cursor: pointer;
}

.login-btn:hover {
	background: #f5f5f5;
}
.dialog-bg {

	position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    min-height: 100%!important;
    width: 100%!important;
    height: 100%!important;
    overflow: visible;
    background: #666;
    opacity: .5;

	display: none;

}
.dialog-wrap {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10002;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

	display: none;

}
.login-item {
    z-index: 10002;
    width: 420px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #888;
    box-shadow: 0 0 80px 0 rgba(0,0,0,.4);
    background: #fff;
    text-align: left;
}
.close-btn {
	height: 25px;
	width: 100%;
	position: relative;
}
.close-btn i {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -18px;
    top: -3px;
    cursor: pointer;
    margin: -10px 0 0 -10px;
    background: url(../img/msg_close.png) 0 0 no-repeat;
}
.login-err {
	color: red;
	text-align: center;
	margin-bottom: 10px;
}

#username, #password, #email,
#RUsername, #REmail, #RPassword {
	height: 30px;
	width: 100%;
	margin-bottom: 15px;
}
.login-sub {
	text-align: center;
}
.login-sub button {
	border: none;
	padding: 5px;
}
.register-wrap {
	display: none;
}
.register-sub {
	text-align: center;
}
#RegisterBtn {
	width: 50px;
	border: none;
	padding: 5px;

}

/**
 *****主体内容*****
 */
.content {
	/* width: 100%; */
	/* text-align: center; */
	padding: 15px;
	margin-top: 80px;
}
.tas-group {
	width: 1240px;
	font-size: 0;
	// border: 1px solid gray;
	margin: 0 auto;
}
.tas-item {
	width: 240px;
	// width: 25%;
	min-height: 50px;
	height: auto;
	text-align: left;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 15px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 5px;
	vertical-align: top;
	// position: absolute;
}

.main-vote {
	width: 100%;
	margin: 15px 0;
	/* font-size: 0; */
}
.up-vote, .down-vote {
	/* display: inline-block; */
	float: left;
	width: 50%;
	text-align: center;
	height: 30px;
	/* border: 1px solid #666; */
	box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset !important;
	box-sizing: border-box;
	line-height: 30px;
	background: #f3f3f3;
}
.up-vote {
	border-left: none;
}

.like-0 .up-vote:hover, .like-0 .down-vote:hover {
	background: #ccc;
}
.like-0 .up-vote, .like-0 .down-vote {
	cursor: pointer;
}
.up-1, .down-1 {
	background: #ccc;
}

/* .main-content {
	margin: 10px 0;
} */
.item-image {
	width: 100%;
}

#container {
	display: none;
}

.main-footer .time {
	font-size: 14px;
}

/**
 ***** item *****
 */

/**
 ***** taobao *****
 */
.goods-title {
	width: 100%;
	display: inline-block;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 0;
}
.goods-ref {
	display: inline-block;
	float: right;
}

/**
 ***** pagination *****
 */
.next-page {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 9999999;
	right: 0;
	background: #ccc;

}
